@model TrainReservationSystem.Models.TrainDetails

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error:</strong> @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TrainDetails</h4>
<hr />
<div class="container">
    <h1 class="my-5">Create Train</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <div class="mb-3">
                    <label asp-for="TrainName" class="form-label">Train Name</label>
                    <input asp-for="TrainName" class="form-control" />
                    <span asp-validation-for="TrainName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="TrainId" class="form-label">Train ID</label>
                    <input asp-for="TrainId" class="form-control" />
                    <span asp-validation-for="TrainId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Origin" class="form-label">Origin</label>
                    <input asp-for="Origin" class="form-control" />
                    <span asp-validation-for="Origin" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Destination" class="form-label">Destination</label>
                    <input asp-for="Destination" class="form-control" />
                    <span asp-validation-for="Destination" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label asp-for="Departure" class="form-label">Departure Time</label>
                        <input asp-for="Departure" class="form-control" />
                        <span asp-validation-for="Departure" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Arrival" class="form-label">Arrival Time</label>
                        <input asp-for="Arrival" class="form-control" />
                        <span asp-validation-for="Arrival" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="SeatCapacity" class="form-label">Seat Capacity</label>
                    <input asp-for="SeatCapacity" class="form-control" />
                    <span asp-validation-for="SeatCapacity" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SeatRate" class="form-label">Seat Rate</label>
                    <input asp-for="SeatRate" class="form-control" />
                    <span asp-validation-for="SeatRate" class="text-danger"></span>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
