@model int

@if (TempData["Message"] != null)
{
    <script>alert('@TempData["Message"]')</script>
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="Account/SignUp">Sign Up</a>
    <a href="Account/Login">Login</a>

    <form method="post" action="Home/CheckPNR">
        <label for="pnr">Enter PNR number:</label>
        <input type="text" id="pnr" name="pnr" />
        <button type="submit">Check</button>
    </form>

</div>

