@model int

@if (TempData["Message"] != null)
{
    <script>alert('@TempData["Message"]')</script>
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="text-center">
                <h1 class="display-4 mb-4">Welcome to our site</h1>
                <p class="lead mb-4">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                <div class="d-flex justify-content-center">
                    <a href="Account/SignUp" class="btn btn-lg btn-primary mr-3">Sign Up</a>
                    <a href="Account/Login" class="btn btn-lg btn-secondary">Login</a>
                </div>
            </div>
            <hr class="my-4">
            <form method="post" action="Home/CheckPNR" class="my-4">
                <div class="form-group">
                    <label for="pnr">Enter PNR number:</label>
                    <div class="input-group">
                        <input type="text" id="pnr" name="pnr" class="form-control">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Check</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
