@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<p>At Train Ticket Booking, we take your privacy seriously. This Privacy Policy outlines how we collect, use, and disclose information when you use our Train Reservation System. By using our system, you agree to the terms of this Privacy Policy.</p>
<h2>Information We Collect</h2>
<p>We collect information that you provide to us, such as your name, email address, phone number, and payment information, when you use our system to book a train ticket. We also collect information about your train reservations, such as your travel dates, train routes, and seat preferences. Additionally, we collect information about your interactions with our system, including your IP address, browser type, and referring pages.</p>
<h2>How We Use Your Information</h2>
<p>We use the information we collect to provide and improve our Train Reservation System, including processing your reservations, communicating with you about your reservations, and personalizing your experience. We may also use your information to send you marketing communications, such as promotional offers or surveys, but you can opt out of these communications at any time.</p>
<h2>How We Share Your Information</h2>
<p>We may share your information with third-party service providers who help us operate our Train Reservation System, such as payment processors and customer service providers. We may also share your information with law enforcement or government agencies if we are required to do so by law or if we believe in good faith that it is necessary to protect our rights or the safety of others.</p>
<h2>Security</h2>
<p>We take reasonable measures to protect your information from unauthorized access, use, or disclosure. However, no data transmission over the internet or any wireless network can be guaranteed to be 100% secure. As a result, we cannot guarantee the security of your information.</p>
<h2>Changes to this Privacy Policy</h2>
<p>We may update this Privacy Policy from time to time to reflect changes in our practices or applicable law. If we make material changes to this Privacy Policy, we will notify you by email or by posting a notice on our Train Reservation System prior to the change becoming effective.</p>
@*<h2>Contact Us</h2>
<p>If you have any questions or concerns about this Privacy Policy, please contact us at {}</p>*@